<div *ngIf="isFilterRequired" class="product-list-header">
    <md-input-container floatPlaceholder="never">
        <input mdInput #filter placeholder="Filter products">
    </md-input-container>
</div>
<div class="product-list-table-wrapper">
    <md-table #table [dataSource]="dataSource">
        <ng-container cdkColumnDef="delete">
            <md-header-cell *cdkHeaderCellDef></md-header-cell>
            <md-cell *cdkCellDef="let row">
                <md-icon (click)="deleteProduct(row)">delete</md-icon>
            </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="name">
            <md-header-cell *cdkHeaderCellDef>Name</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.name}}</md-cell>
        </ng-container>

        <ng-container cdkColumnDef="quantityRequested">
            <md-header-cell *cdkHeaderCellDef> Quantity Requested </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.quantityRequested}}
                <div class="suffix-container">
                    <md-icon (click)="updateQuantity(row)">mode_edit</md-icon>
                </div>
            </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="hsnCode">
            <md-header-cell *cdkHeaderCellDef> HSN Code </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.hsnCode}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="productNumber">
            <md-header-cell *cdkHeaderCellDef>Product Number</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.productNumber}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="categoryName">
            <md-header-cell *cdkHeaderCellDef>Category</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.categoryName}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="unitPrice">
            <md-header-cell *cdkHeaderCellDef>Unit Price</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.unitPrice}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="onHandQuantity">
            <md-header-cell *cdkHeaderCellDef>On Hand Quantity</md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.onHandQuantity}} </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
    <table class="total-table">
        <thead class="mat-header-row">
            <th class="mat-header-cell">Total Discount</th>
            <th class="mat-header-cell">Total Price</th>
        </thead>
        <tbody>
            <tr class="mat-row">
                <td class="mat-cell">{{dataSource.totalDiscount}}</td>
                <td class="mat-cell">{{dataSource.totalEstimatedPrice}}</td>
            </tr>
        </tbody>
    </table>
</div>
<md-paginator *ngIf="isPaginated" #paginator [length]="10" [pageIndex]="0" [pageSize]="2" [pageSizeOptions]="[5, 10]" (page)="pageEvent = $event; onPaginateChange($event)">
</md-paginator>