<div class="product-search-container">
    <form [formGroup]="searchProductForm">
        <md-select placeholder="Product Category" formControlName="category">
            <md-option *ngFor="let category of categories" [value]="category">{{ category.name }}</md-option>
        </md-select>
        <md-form-field>
            <input type="text" placeholder="Product Name" mdInput formControlName="productName" [mdAutocomplete]="productNameAuto">
        </md-form-field>
        <md-autocomplete [displayWith]="productAutoDisplay" #productNameAuto="mdAutocomplete">
            <md-option (onSelectionChange)="productSelected(product)" *ngFor="let product of productSuggestionList" [value]="product">
                {{ product.name }} : {{ product.hsnCode }}
            </md-option>
        </md-autocomplete>
        <!--  <md-form-field>
            <input type="text" placeholder="HSN Code" mdInput formControlName="hsnCode" [displayWith]="productAutoDisplay" [mdAutocomplete]="hsnCodeAuto">
        </md-form-field>
        <md-autocomplete #hsnCodeAuto="mdAutocomplete">
            <md-option *ngFor="let product of productSuggestionList" [value]="product">
                {{ product.name }} : {{ product.hsnCode }}
            </md-option> 
        </md-autocomplete>  -->
        <md-form-field *ngIf="isAddEnabled">
            <input type="text" placeholder="Quantity Required" required mdInput formControlName="quantityRequested">
            <md-error *ngIf="searchProductForm.get('quantityRequested').hasError('required')">
                Unit price is <strong>required</strong>
            </md-error>
        </md-form-field>

        <button *ngIf="!isAddEnabled" type="button" md-raised-button (click)="searchProduct()">Search</button>
        <button *ngIf="isAddEnabled" type="button" md-raised-button (click)="addProduct()">Add</button>
    </form>
</div>