<div class="product-search-container">
    <form [formGroup]="searchProductForm">
        <mat-select placeholder="Product Category" formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category">{{ category.name }}</mat-option>
        </mat-select>
        <mat-form-field>
            <input type="text" placeholder="Product Name" matInput formControlName="productName" [matAutocomplete]="productNameAuto">
        </mat-form-field>
        <mat-autocomplete [displayWith]="productAutoDisplay" #productNameAuto="matAutocomplete">
            <mat-option (onSelectionChange)="productSelected(product)" *ngFor="let product of productSuggestionList" [value]="product">
                {{ product.name }} : {{ product.hsnCode }}
            </mat-option>
        </mat-autocomplete>
        <!--  <mat-form-field>
            <input type="text" placeholder="HSN Code" matInput formControlName="hsnCode" [displayWith]="productAutoDisplay" [matAutocomplete]="hsnCodeAuto">
        </mat-form-field>
        <mat-autocomplete #hsnCodeAuto="matAutocomplete">
            <mat-option *ngFor="let product of productSuggestionList" [value]="product">
                {{ product.name }} : {{ product.hsnCode }}
            </mat-option> 
        </mat-autocomplete>  -->
        <mat-form-field *ngIf="isAddEnabled">
            <input type="text" placeholder="Quantity Required" required matInput formControlName="quantityRequested">
            <mat-error *ngIf="searchProductForm.get('quantityRequested').hasError('required')">
                Unit price is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <button *ngIf="!isAddEnabled" type="button" mat-raised-button (click)="searchProduct()">Search</button>
        <button *ngIf="isAddEnabled" type="button" mat-raised-button (click)="addProduct()">Add</button>
    </form>
</div>