@import '../../../../styles/constants';

.product-list-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 14px;
  justify-content: space-between;
  
  .mat-input-container {
    width: 98%;
  }

}

.product-list-table-wrapper {
  overflow: auto;

  .mat-table {
    min-width: 500px;
    margin-bottom: 4px;
  }
}

.mat-header-row, .mat-row {
  .mat-cell, .mat-header-cell {
    &:first-child {
      flex: 0.3
    }
  }
}

.suffix-container {
  
  position: relative;
  display: inline-block;
  
  .mat-icon {
    @include suffix-icon-size(19px);
    position: absolute;
    left: 18px;
    top: -16px;
  }
  
}

.total-table {
  width: 30%;
  float: right;
  @media (max-width: $small-breakpoint-width) {
    width: 90%;
    float: none;
  }
  .mat-header-row, .mat-row {
    .mat-cell, .mat-header-cell {
      flex: 1;
      text-align: center;
    }
}
}