/* Structure */

.product-list-container {
  display: flex;
  flex-direction: column;
  product-search {
    margin: 5px 0 0 5px;
  }
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-table {
  overflow: auto;
}