@import '../../../../styles/constants';

.order-create-card {
  display: flex;
  flex-direction: column;

  .mat-form-field {
      margin: 5px;
      width: 95%
    }

  .order-create-top-section {
    .customer-search {
      display: inline-block;
    }
    .customer-search, .mat-form-field {
      @extend %half-width-input;
    }
  }

  .product-search-container {
    .mat-select {
      width: 30%;
    }
    .mat-form-field {
      width: 40%;
    }
  }

}