$small-breakpoint-width: 840px;

@mixin suffix-icon-size($size) {
  font-size: $size;
  width: $size;
  height: $size;
  cursor: pointer;
}

%half-width-input {
  margin-right: 10px;
  width: 45%;
  @media (max-width: $small-breakpoint-width) {
    margin: 5px;
    width: 95%;
  }
}