@import '../../../../styles/constants';

.invoice-create-card {
  display: flex;
  flex-direction: column;

  .mat-form-field {
      margin: 5px;
      width: 95%
    }

  .invoice-create-top-section {
    customer-search, order-search, .mat-form-field {
      display: inline-block;
      @extend %half-width-input;
    }
  }

}