<div class="home-container">
    <mat-toolbar class="welcome-header">Welcome home! Choose from the below actions to get started.</mat-toolbar>
    <div class="menu-list">
        <mat-card
            *ngFor="let category of menuItems.getItemsInCategories()"
            class="menu-list-card"
            [routerLink]="['/', category.id]">
            <mat-card-title>{{category.name}}</mat-card-title>
            <p class="menu-list-card-summary">{{category.summary}}</p>
            <mat-card-actions >
                <button *ngIf="category.default && category.default != ''" [routerLink]="['/', category.id, category.default, 'create']" mat-button>{{category.action1label}}</button>
                <button *ngIf="!category.default" [routerLink]="['/', category.id, 'create']" mat-button>{{category.action1label}}</button>
                <button mat-button>{{category.action2label}}</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
