@import '../styles/constants';

app-root{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


body {
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
}

h1, h2 {
  font-weight: 400;
}

pre {
  // Pre elements won't wrap text by default and can exceed the boundaries of their parent element.
  // This adds extra scroll space when visiting the docs mobile. Pre-wrapping the code examples
  // will ensure that the code never exceeds the page width.
  white-space: pre-wrap;
}

.sidenav-content {
  padding: 20px 60px;
  @media (max-width: $small-breakpoint-width) {
    padding: 5px;
    margin: 0;
  }
}

.big-spacer {
    flex: 1 1 auto;
}

.small-spacer {
  display: inline-block;
  width: 7px;
}

.hide {
  display: none !important;
}