<div class="product-create-container">
    <mat-card class="product-create-card">
        <mat-card-title>{{flow}} Product</mat-card-title>
        <form class="product-create-form" [formGroup]="createProductForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="Product Name" type="text" formControlName="name">
                <mat-error *ngIf="createProductForm.get('name').hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-select placeholder="Product Category" formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category">{{ category.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="createProductForm.get('category').value === undefined">
                    Category is <strong>required</strong>
            </mat-error>
            <mat-form-field>
                <input matInput placeholder="Product Number" type="text" formControlName="productNumber" maxlength="35">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Unit price" type="number" formControlName="unitPrice" maxlength="20">
                <mat-error *ngIf="createProductForm.get('unitPrice').hasError('required')">
                    Unit price is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="text" placeholder="HSN Code" matInput formControlName="hsnCode" [matAutocomplete]="hsnCodeAuto">
                <mat-error *ngIf="createProductForm.get('hsnCode').hasError('required')">
                    HSN Code is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-autocomplete #hsnCodeAuto="matAutocomplete">
                <mat-option *ngFor="let hsnCode of filterHsnOptions | async" [value]="hsnCode">
                    {{ hsnCode }}
                </mat-option>
            </mat-autocomplete>
            <mat-form-field>
                <input type="text" placeholder="Tax percentage" matInput formControlName="taxPercentage">
                <mat-error *ngIf="createProductForm.get('taxPercentage').hasError('required')">
                    Tax percentage is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="On Hand Quantity" type="number" formControlName="onHandQuantity" maxlength="10">
                <mat-error *ngIf="createProductForm.get('onHandQuantity').hasError('required')">
                    On hand quantity is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Description" type="text" formControlName="productDescription" maxlength="55">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Keywords" formControlName="keywords"></textarea>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button [disabled]="!createProductForm.valid" type="submit">Save</button>
                <button mat-raised-button type="reset" (click)="revert()">Reset</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>