<div class="customer-create-container">
  <mat-toolbar>Create customer</mat-toolbar>
  <div class="customer-create-card">
    <form class="customer-create-form" [formGroup]="createCustomerForm" (ngSubmit)="onSubmit()">
      <mat-accordion>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Customer Information
            </mat-panel-title>
            <mat-panel-description>
              Enter customer name and phone number
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Name" type="text" formControlName="name">
            <mat-error *ngIf="createCustomerForm.get('name').hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Phone Number" type="phone" formControlName="phone">
            <mat-error *ngIf="createCustomerForm.get('phone').hasError('required')">
              Phone number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-action-row>
            <button mat-button color="primary" type="button" (click)="openAddress()">Give address</button>
            <button mat-raised-button type="submit" [disabled]="!createCustomerForm.valid">Save</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Address
            </mat-panel-title>
            <mat-panel-description>
              Enter customer address
              <mat-icon>add_location</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Address Line 1" type="text" formControlName="address1">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Address Line 2" type="text" formControlName="address2">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="City" type="text" formControlName="city">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="State" type="text" formControlName="state">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Zip code" type="text" formControlName="zipCode">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Country" type="text" formControlName="country">
          </mat-form-field>
          <mat-action-row>
            <button mat-button color="primary" type="button" (click)="openPersonalInfo()">Change personal data</button>
            <button mat-raised-button type="submit" [disabled]="!createCustomerForm.valid">Save</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </div>
</div>