<div class="customer-create-container">
  <md-toolbar>Create customer</md-toolbar>
  <div class="customer-create-card">
    <form class="customer-create-form" [formGroup]="createCustomerForm" (ngSubmit)="onSubmit()">
      <md-accordion>
        <md-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
          <md-expansion-panel-header>
            <md-panel-title>
              Customer Information
            </md-panel-title>
            <md-panel-description>
              Enter customer name and phone number
              <md-icon>account_circle</md-icon>
            </md-panel-description>
          </md-expansion-panel-header>
          <md-form-field>
            <input mdInput placeholder="Name" type="text" formControlName="name">
            <md-error *ngIf="createCustomerForm.get('name').hasError('required')">
              Name is <strong>required</strong>
            </md-error>
          </md-form-field>
          <md-form-field>
            <input mdInput placeholder="Phone Number" type="phone" formControlName="phone">
            <md-error *ngIf="createCustomerForm.get('phone').hasError('required')">
              Phone number is <strong>required</strong>
            </md-error>
          </md-form-field>
          <md-action-row>
            <button md-button color="primary" type="button" (click)="openAddress()">Give address</button>
            <button md-raised-button type="submit" [disabled]="!createCustomerForm.valid">Save</button>
          </md-action-row>
        </md-expansion-panel>

        <md-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
          <md-expansion-panel-header>
            <md-panel-title>
              Address
            </md-panel-title>
            <md-panel-description>
              Enter customer address
              <md-icon>add_location</md-icon>
            </md-panel-description>
          </md-expansion-panel-header>
          <md-form-field>
            <input mdInput placeholder="Address Line 1" type="text" formControlName="address1">
          </md-form-field>
          <md-form-field>
            <input mdInput placeholder="Address Line 2" type="text" formControlName="address2">
          </md-form-field>
          <md-form-field>
            <input mdInput placeholder="City" type="text" formControlName="city">
          </md-form-field>
          <md-form-field>
            <input mdInput placeholder="State" type="text" formControlName="state">
          </md-form-field>
          <md-form-field>
            <input mdInput placeholder="Zip code" type="text" formControlName="zipCode">
          </md-form-field>
          <md-form-field>
            <input mdInput placeholder="Country" type="text" formControlName="country">
          </md-form-field>
          <md-action-row>
            <button md-button color="primary" type="button" (click)="openPersonalInfo()">Change personal data</button>
            <button md-raised-button type="submit" [disabled]="!createCustomerForm.valid">Save</button>
          </md-action-row>
        </md-expansion-panel>
      </md-accordion>
    </form>
  </div>
</div>