<div class="order-detail-container">
    <mat-card class="order-detail-card">
        <mat-card-title>Sales Order #{{orderDetail.orderNumber}}</mat-card-title>
        <form class="order-detail-form" [formGroup]="detailOrderForm" (ngSubmit)="onSubmit()">
            <div class="order-detail-top-section">
                <mat-form-field>
                    <input type="text" placeholder="Customer" matInput formControlName="customer">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Needed By Date" [matDatepicker]="datePicker" formControlName="neededByDate" />
                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-error *ngIf="detailOrderForm.get('neededByDate').hasError('required')">
                        Needed by date is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-datepicker #datePicker></mat-datepicker>
            </div>
            <product-search [isAddEnabled]="true" (productAdded)="productAdded($event)"></product-search>
            <product-list-table *ngIf="orderDetail && orderDetail.orderLineItems" [displayedColumns]="displayedColumns" [isSearched]="isSearched" [isPaginated]="isPaginated" [searchData]="orderDetail.orderLineItems"
                [isFilterRequired]="isFilterRequired" [isTemproraryDelete]="true"></product-list-table>
            <mat-form-field>
                <textarea type="textarea" placeholder="Notes" matInput formControlName="orderNotes"></textarea>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button type="submit">Save</button>
                <button mat-raised-button type="reset" (click)="revert()">Reset</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>