@import '../../../../styles/constants';

.order-detail-card {
  display: flex;
  flex-direction: column;

  .mat-form-field {
      margin: 5px;
      width: 95%
    }

  .order-detail-top-section {
    .mat-form-field {
      margin-right: 10px;
      width: 45%;
      @media (max-width: $small-breakpoint-width) {
        margin: 5px;
        width: 95%;
      }
    }
  }

  .product-search-container {
    .mat-select {
      width: 30%;
    }
    .mat-form-field {
      width: 40%;
    }
  }

}