<page-header (toggleSidenav) = "sidenav.toggle()"></page-header>
<div class="sidenav-outer">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav"
                [opened]="!isScreenSmall()"
                [mode]="isScreenSmall() ? 'over' : 'side'">
      <nav *ngFor="let category of menuItems.getItemsInCategories()">
        <h3>{{category.name}}</h3>
        <ul>
          <li *ngFor="let menu of category.items">
            <a *ngIf="menu.type !== undefined && menu.id != ''" [routerLink]="['/', category.id, menu.id, menu.type]"
              routerLinkActive="sidenav-item-selected">
              {{menu.name}}
            </a>
            <a *ngIf="menu.type !== undefined && menu.id == ''" [routerLink]="['/', category.id, menu.type]"
              routerLinkActive="sidenav-item-selected">
              {{menu.name}}
            </a>
            <a *ngIf="menu.type === undefined" [routerLink]="['/', category.id, menu.id]"
              routerLinkActive="sidenav-item-selected">
              {{menu.name}}
            </a>
          </li>
        </ul>
      </nav>
    </mat-sidenav>

    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>